body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    background-color: #ececec;
    color: #333;
}

h1,
p,
ul,
div {
    line-height: 1.2em;
}

h1 {
    font-size: 1.6em;
    text-align: center;
}

p {
    margin-top: 1em;
    line-height: 1.2em;
}

header {
    margin-bottom: 1em;
}

b {
    font-weight: bold;
}

code {
    font-family: courier;
    display: block;
    color: #666;
    font-size: 0.9em;
}

.container {
    margin: 1em auto 0;
    width: 72.1em;
}

.test {
    margin: 2em 0 0 1em;
    position: relative;
    float: left;
    width: 35em;
}

.button {
    display: block;
    border: 2px solid #666;
    background-color: #999;
    padding: .4em .4em;
    cursor: pointer;
    font-weight: bold;
    border-radius: .5em;
    float: left;
    margin-top: .8em;
    transition: all 0.1s;
}

.button.animating {
    transform: scale(1.1);
}

.description ul {
    margin: .8em 0 0 .8em;
}

.description li {
    list-style-type: disc;
    list-style-position: inside;
}

.clear {
    clear: both;
}

.overlay {
    display: block;
    font-size: .7em;
    margin-top: 1em;
    border: 1px solid #999;
    overflow: hidden;
    background-color: #ffffff;
}

.overlay-content {
    margin: 1em;
}

.other-content {
    color: #aaa;
}

@media screen and (max-width: 72.1em) {
    .container {
        width: auto;
    }
    .test {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 35.1em) {
    body {
        font-size: 1.2em;
    }
    .test {
        width: 100%;
    }
}